{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title|default("Blog", true) }}{% endblock %}
{% block body %}
  {% for child in this.pagination.items %}
    {% if child.published and child._discoverable %}
    {{ render_blog_post(child, from_index=true, add_divider=not loop.last) }}
    {% endif %}
  {% endfor %}

  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}
