{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block meta_desc %}{{ this.summary.html.striptags() }}{% endblock %}
{% block body %}
  <article class="page" itemscope="" itemtype="http://schema.org/Article">
  <div class="flow-block heading-block">
    <div class="container">
      <h1 itemprop="name headline">{{ this.title }}</h1>
    </div>
  </div>
  <div class="flow-block text-block summary-block">
    <div class="container">
    {{ this.summary | typogrify | deeditorialize }}
    </div>
  </div>  {{ this.body | typogrify | deeditorialize }}
  {% if this.enable_comments %}
  <div id="comments" class="flow-block comments-block">
    <div class="container">
    {{ render_disqus_comments() }}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block pre_foot_tags %}
{% if this.events %}
<script type="text/javascript">
  window.tracking_events = [
    {% for event in this.events %}
    "{{ event }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ];
</script>
{%- endif -%}
{% endblock %}
