{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block meta_desc %}{{ this.summary.html.striptags() }}{% endblock %}
{% block body %}
  <article class="page" itemscope="" itemtype="http://schema.org/Article">
  <div class="flow-block heading-block">
    <div class="container">
      <h1 itemprop="name headline">{{ this.title }}</h1>
    </div>
  </div>
  {{ this.body | typogrify }}
  {% if this.enable_comments %}
  <div id="comments" class="flow-block comments-block">
    <div class="container">
    {{ render_disqus_comments() }}
    </div>
  </div>
  {% endif %}
{% endblock %}
